.app-news-list {
  margin-left: 30%;
  margin-right: 30%;
}

@media screen and (max-width: 1200px) {
  .app-news-list {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 768px) {
  .app-news-list {
    margin-left: 0;
    margin-right: 0;
  }
}
