<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="app-news-list">
    <app-news-list></app-news-list>
</div>
<router-outlet></router-outlet>
