<mat-sidenav-container>
    <mat-card *ngFor="let article of obs | async">
        <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>[{{article.date}}] {{article.sourceName}}
                / {{article.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{article.imageUrl}} alt="">
        <mat-card-content>
            <p>
                {{article.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary" href={{article.articleUrl}} target="_blank">
                <mat-icon>visibility</mat-icon>
                More</a>
        </mat-card-actions>
    </mat-card>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" (page)="onPaginateChange($event)"></mat-paginator>
</mat-sidenav-container>